
    .jumbotron { min-height: 550px; margin-top: 2.5rem; }
/* 
      .container  {
        background-image: chipimg.jpeg;
        background-size: cover;
        background-repeat: no-repeat;
    } */

    #question {margin-bottom: 1.5rem; }
    
    
    /* .text-center { float:left 50%; float:right 50%; padding: 5px; margin-right: 5px;
    } */

    .option btn btn-info btn-lg {padding: 1.2rem; }

     .row { justify-content:center; margin: 1.5rem; }

    #options {margin-right: 1.5rem;} */

    h3{padding: 1.2rem; }

    #results{ font-size: 1.2rem;}